@using Microsoft.AspNetCore.Identity
@using AuctionHub.Web.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li><a asp-area="" asp-controller="Manage" asp-action="Index">Hello @UserManager.GetUserName(User)</a></li>
    <li><a asp-area="" asp-controller="Product" asp-action="List">My Products</a></li>
	<li><a asp-area="" asp-controller="Product" asp-action="Create">Create Product</a></li>
	<li><a asp-area="" asp-controller="Auction" asp-action="Index">Auctions</a></li>
    <li>
        <form method="post" asp-action="Logout" asp-controller="Account">
            <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
        </form>
    </li>
}
else
{
    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
    <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
}
