@{
    ViewData["Title"] = "Home Page";
}
<div class="parallax-container row-full">
    <div class="parallax"><img src="~/images/stock-1863880_1920.jpg"></div>
</div>
<div class="blue-grey white-text">
    <span class="flow-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis dictum nibh. Suspendisse potenti. Vestibulum sed mi id mauris laoreet auctor. Ut id lacus ut ex faucibus pellentesque nec id sem. Proin volutpat congue laoreet. Pellentesque suscipit lobortis massa nec tempus. Sed laoreet porttitor ipsum.

        Aenean maximus enim ac pulvinar feugiat. Quisque interdum consectetur posuere. Morbi et scelerisque ipsum. Nam finibus lacus a pharetra euismod. Nulla facilisi. Quisque et massa vel mauris laoreet vehicula. Donec volutpat vel ex in efficitur. Suspendisse dolor lorem, malesuada nec rhoncus id, suscipit et nisl. Vivamus pharetra orci vel felis blandit auctor.

        Nam sed tincidunt arcu. Fusce tristique turpis ac tellus viverra, et suscipit nulla convallis. Aenean lobortis imperdiet neque sit amet egestas. Donec pretium enim velit, id lacinia massa varius id. Morbi lacinia odio a est consectetur fermentum. Cras vel nisi accumsan, iaculis nisi imperdiet, laoreet turpis. Sed quis nibh a neque lacinia sollicitudin. Phasellus sit amet elit neque. Nunc eleifend purus quis sem placerat, in eleifend magna ullamcorper. Sed rutrum ex fermentum tortor auctor dignissim. Nam ultricies enim vitae malesuada dictum. Maecenas neque nulla, fringilla ultrices urna vel, fringilla sodales dui. Nullam aliquam vulputate nisi a accumsan. Duis ultricies ut neque quis facilisis. Fusce tincidunt lobortis augue, sed finibus ligula vehicula non.

        Maecenas vel faucibus nisi. In lacus mauris, aliquet at accumsan et, bibendum ut orci. Morbi tempor volutpat ex, tempor vestibulum eros posuere at. Integer tristique orci et ante facilisis, id ornare odio congue. Sed lacus mauris, gravida vitae euismod non, sollicitudin vitae nibh. Maecenas tristique tristique tortor hendrerit faucibus. Suspendisse potenti. Aenean neque ante, congue eget felis id, sodales vulputate diam. Nulla sed arcu pulvinar, elementum eros vitae, congue odio. Ut imperdiet lacinia dignissim. Ut iaculis finibus aliquam.

        Pellentesque nibh tellus, hendrerit in efficitur sed, blandit at ex. Nullam imperdiet urna nec est fermentum convallis. Phasellus nibh mauris, accumsan sit amet enim ornare, dignissim viverra orci. Nam tincidunt risus at mauris sodales euismod. Sed mattis rhoncus massa eu aliquam. Cras non orci quis ipsum consectetur vehicula. Donec semper massa metus, non convallis ex rhoncus non. In dictum accumsan eros, eu ullamcorper tortor consectetur facilisis. Morbi gravida felis neque, maximus vulputate urna lobortis mattis. Nam varius semper dui vitae pretium. Etiam luctus nisi eros. Nullam non finibus massa, et imperdiet felis. Sed aliquet placerat ex, sit amet finibus quam luctus sit amet. Donec posuere orci maximus sapien vehicula maximus non quis libero.
    </span>
</div>
<div class="parallax-container row-full">
    <div class="parallax"><img src="~/images/tablet-1939255_1920.jpg"></div>
</div>