<div class="container">
    <div class="row">
        <div class="jumbotron col-sm-12">
            <form method="post" action="/account/login">
                <div class="form-group">
                    <input name="Username" type="text" class="form-control" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <input name="Password" type="password" class="form-control" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Log In">
                    <a href="/" class="btn btn-primary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>