<div class="container">
    <div class="row">
        <div class="jumbotron col-sm-12">
            <form method="post" action="/account/register">
                <div class="form-group">
                    <input name="Username" type="text" class="form-control" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <input name="FirstName" type="text" class="form-control" placeholder="Enter first name">
                </div>
                <div class="form-group">
                    <input name="LastName" type="text" class="form-control" placeholder="Enter last name">
                </div>
                <div class="form-group">
                    <input name="Password" type="password" class="form-control" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <input name="RepeatPassword" type="password" class="form-control" placeholder="Repeat password">
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Register">
                    <a href="/account/login" class="btn btn-primary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>