<div class="text-center">
    <h1>{{{title}}}</h1>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-6 text-center">
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/{{{tubeId}}}"></iframe>
        </div>
        <div class="col-6 text-center">
            <h4 style="color:deepskyblue">{{{author}}}</h4>
            <h5 style="color:deepskyblue">{{{views}}} Views</h5>
            <p>{{{description}}}</p>
        </div>
    </div>
</div>