<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../../Styles/style.css" rel="stylesheet" />
    <title>SoftUni Beers</title>
</head>
<body>
    <nav>
        <div class="topnav">
            <a class="logo" href="index.html">
                <img src="../../images/logo.png" />
            </a>
            <a href="index.html">Home</a>
            <a class="active" href="all-beers.html">See All Beers</a>
            <a href="order.html">Order a Beer</a>
            <a class="right" href="register.html">Register</a>
            <a class="right" href="login.html">Log in</a>
        </div>
    </nav>

    <main>
        <table>
            <tr>
                <th>Beer image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>
                    <img src="../images/beer_1.png" />
                </td>
                <td>Corona Extra 355ml</td>
                <td>
                    Corona Extra is a pale lager produced by Cervecería Modelo in Mexico for domestic distribution and export to all other countries besides the United States,
                    and by Constellation Brands in Mexico for export to the United States.
                    The Corona brand is one of the top-selling beers worldwide.
                    Outside Mexico, Corona is commonly served with a wedge of lime or lemon in the neck of the bottle to add tartness and flavor.

                    In the US, Corona Extra is the top selling imported beer
                </td>
                <td>$1.90</td>
            </tr>
            <tr>
                <td>
                    <img src="../images/beer_2.png" />
                </td>
                <td>Stella Artois 330ml</td>
                <td>
                    Stella Artois is a Belgian pilsner of between 4.8 and 5.2% ABV which was first brewed by Brouwerij Artois (the Artois Brewery) in Leuven,
                    Belgium, in 1926. Since 2008, a 4% ABV version is also sold in Britain, Ireland, Canada and New Zealand.
                    Stella Artois is now owned by Interbrew International B.V. which is a subsidiary of the world's largest brewer, Anheuser-Busch InBev SA/NV.
                </td>
                <td>$1.40</td>
            </tr>
            <tr>
                <td>
                    <img src="../images/beer_3.png" />
                </td>
                <td>Carlsberg 330ml</td>
                <td>
                    A refreshing and uniquely characterful international premium Pilsener with a malty backbone and balanced bitterness.
                    <br />
                    Aka: probably the best beer in the world.
                </td>
                <td>$1.40</td>
            </tr>
            <tr>
                <td>
                    <img src="../images/beer_4.png" />
                </td>
                <td>Heineken 330ml</td>
                <td>
                    Heineken Lager Beer (Dutch: Heineken Pilsener), or simply Heineken is a pale lager beer with 5% alcohol by volume produced by the Dutch brewing company Heineken International. 
                    Heineken is well known for its signature green bottle and red star.
                </td>
                <td>$1.40</td>
            </tr>
        </table>
    </main>

    <footer>
        <hr />
        <p>
            <em>&copy; 2018 &ndash; SoftUni Beers</em>
        </p>
    </footer>
</body>
</html>