<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../../Styles/style.css" rel="stylesheet" />
    <link href="../Styles/form.css" rel="stylesheet" />
    <title>SoftUni Beers</title>
</head>
<body>
    <nav>
        <div class="topnav">
            <a class="logo" href="index.html">
                <img src="../../images/logo.png" />
            </a>
            <a href="index.html">Home</a>
            <a href="all-beers.html">See All Beers</a>
            <a class="active" href="order.html">Order a Beer</a>
            <a class="right" href="register.html">Register</a>
            <a class="right" href="login.html">Log in</a>
        </div>
    </nav>

    <main>
        <center>
            <h1>Order a Beer</h1>
            <br />
            <form>
                <label>Brand</label>
                <select>
                    <option selected disabled>Select a brand</option>
                    <option>Corona Extra 355ml</option>
                    <option>Stella Artois 330ml</option>
                    <option>Carlsberg 330ml</option>
                    <option>Heineken 330ml</option>
                </select>

                <label>Quantity</label>
                <input type="number" min="1" max="15" placeholder="Enter amount of beer (1-15)" />

                <label>Select destination</label>
                <select>
                    <option selected disabled>Select a destination</option>
                    <option>Sofia</option>
                    <option>Plovdiv</option>
                    <option>Varna</option>
                    <option>Burgas</option>
                </select>

                <label>Enter your birthday</label>
                <input type="date" />

                <label>Get an opinion, comment, recommendation? Share it with us!</label>
                <input type="text" />

                <input type="submit" value="Order" />
            </form>
        </center>
    </main>

    <footer>
        <hr />
        <p>
            <em>&copy; 2018 &ndash; SoftUni Beers</em>
        </p>
    </footer>
</body>
</html>