<center>
    <div class="col-md-4">
        <div class="text-md-center">
            <h3>Login</h3>
            <hr />
            <form class="form-group" method="post" action="/account/login">
                <label for="Username">Username</label>
                <input type="text" class="form-control" name="Username" />
                <br />
                <label for="Password">Password</label>
                <input type="password" class="form-control" name="Password" />
                <br />
                <input type="submit" value="Login" class="btn btn-primary" />
                <a href="/" class="btn btn-dark">Cancel</a>
            </form>
        </div>
    </div>
</center>