<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Contact Us</title>
</head>
<body>
    <h1>Contact Us</h1>
    <form>
        <div>
            <label>First name:</label>
            <input type="text" placeholder="Your first name" name="FirstName"/>
        </div>
        <div>
            <label>Last name:</label>
            <input type="text" placeholder="Your last name" name="LastName"/>
        </div>
        <div>
            <input type="submit" />
        </div>
    </form>
</body>
</html>