<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Rectangles</title>
</head>
<body>
    <div style="padding:15px;border-style:dotted; color:blue; border-radius:5px">
        <div style="padding:15px;border-style:dashed; color:red; border-radius:3px">
            <div style="text-align:center;padding:15px;border-style:solid; color:green; border-radius:1px">
                <span style="color:black; font-size:medium">I am a heavily packed &lt;DIV&gt;</span>
            </div>
        </div>
    </div>
</body>
</html>