<h2>Create your accout:</h2>
<form method="post" action="/account/register">
    <label>Name:</label>
    <input type="text" name="Name" placeholder="Name">
    <label>Email:</label>
    <input type="email" name="Email" placeholder="Email">
    <label>Password:</label>
    <input type="password" name="Password" placeholder="Password">
    <label>Repeat Password:</label>
    <input type="password" name="RepeatPassword" placeholder="Repeat Password">
    <input type="submit" class="register" value="Register">

</form>