<h1 class="text-center">Create Product</h1>
<hr class="bg-secondary half-width" />
<form class="mx-auto half-width" method="post" action="/product/create">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name" name="Name">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" step="0.01" class="form-control" id="price" name="Price">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" placeholder="Enter desctiption" name="Description"></textarea>
    </div>
    <div class="text-center">
        <label for="description">Product type</label>
        <hr />
            {{{product-types}}}
    </div>
    <br />
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn chushka-bg-color">Create</button>
    </div>
</form>