<main class="col-4 ml-auto mr-auto text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center"><h1 class="display-3">Create contest</h1></div>
                <br />
                <form action="/contest/create" method="post">
                    <div class="form-group row">
                        <label>Contest name</label>
                        <input type="text" class="form-control" name="Name" placeholder="Enter contest name" />
                    </div>
                    <input type="submit" class="btn btn-outline-bg-dark btn-lg btn-block"
                           value="Create" />
                </form>
                <br />
            </div>
        </div>
    </div>
</main>