<div class="btn btn-dark">
    <a href="/">Back to Home</a>
</div>
<br />

<center>
    <div class="col-md-4">
        <div class="text-md-center">
            <h2>User: {{{userDisplayName}}}</h2>
            <hr />

            <div style="display: {{{authorizedDisplay}}}">
                <form class="form-group" method="post" action="/account/profile">
                    <label>Title</label>
                    <input type="text" class="form-control" name="Title" />
                    <label>Content</label>
                    <textarea type="password" class="form-control" name="Content"></textarea>
                    <br>
                    <input type="submit" value="Add Note" class="btn btn-primary" />
                    <a href="/" class="btn btn-dark">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</center>
<div style="display: {{{authorizedDisplay}}}">
    <center>
        <div class="col-md-6">
            <ul>
                {{{notes}}}
            </ul>
        </div>
    </center>
</div>
