<div class="btn btn-dark">
    <a href="/">Back to Home</a>
</div>
<br />

<center>
    <div class="col-md-4">
        <div class="text-md-center">
            <h3>Register</h3>
            <hr />

            <form class="form-group" method="post" action="/account/register">
                <label>Username</label>
                <input type="text" class="form-control" name="Username" />
                <label>Password</label>
                <input type="password" class="form-control" name="Password" />
                <label>Confirm password</label>
                <input type="password" class="form-control" name="ConfirmPassword" />
                <br />
                <input type="submit" value="Register" class="btn btn-primary" />
            </form>
        </div>
    </div>
</center>
