@model System.Collections.Generic.List<AuctionHub.Web.Models.AuctionViewModels.IndexAuctionViewModel>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>