<hr class="my-2" />
<div class="legend text-center">
    <h2>Login</h2>
</div>
<hr class="my-2">
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="form-holder text-center">
            <form class="form-inline" action="/account/login" method="post">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="Email">E-mail</label>
                        <div class="controls">
                            <input type="email" id="Email" name="Email" placeholder="Enter Email" class="input-xlarge">
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" id="Password" name="Password" placeholder="Enter Password"
                                   class="input-xlarge">
                        </div>
                    </div>
                    <br />
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
