<h2>Add new flight</h2>
<form action="/flight/add" method="post">
    <label>Destination:</label>
    <input type="text" name="Destination" placeholder="Destination">
    <label>Origin:</label>
    <input type="text" name="Origin" placeholder="Origin">
    <label>Date:</label>
    <input type="date" name="Date">
    <label>Time:</label>
    <input type="time" name="Time">
    <label>Image:</label>
    <input type="text" name="Image">
    <input type="submit" class="create" value="Create">
</form>