<h2>Edit flight</h2>
<form method="post">
    <input type="hidden" name="Id" value="{{{id}}}" />
    <label>Destination:</label>
    <input type="text" name="Destination" value="{{{destination}}}" placeholder="Destination">
    <label>Origin:</label>
    <input type="text" name="Origin" value="{{{origin}}}" placeholder="Origin">
    <label>Date:</label>
    <input type="date" value="{{{date}}}" name="Date">
    <label>Time:</label>
    <input type="time" name="Time" value="{{{time}}}">
    <label>Image:</label>
    <input type="text" name="Image" value="{{{image}}}">
    <input type="submit" class="save-changes" value="Save Changes">
</form>