@model ProductViewModel
@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col s4"></div>
    <div class="col s4">
        <h2 class="text center">Delete Product</h2>
        <form asp-controller="Product" asp-action="Delete" method="post">
            <div>
                @Html.LabelFor(m => m.Name)
                <div>
                    @Html.TextBoxFor(m => m.Name, new { @readonly = "readonly" })
                </div>
            </div>
            <div>
                @Html.LabelFor(m => m.Description)
                <div>
                    @Html.TextAreaFor(m => m.Description, new { @readonly = "readonly" })
                </div>
            </div>
            <button type="button" class="cancel; btn waves-effect waves-yellow" onclick="location.href='/Product/Details/@Model.Id';return false;">Cancel</button>
            <input class="btn waves-effect red" type="submit" value="Confirm Deletion" />
        </form>
        </div>
    </div>
        
