@using Microsoft.AspNetCore.Identity
@using SoftUniClone.Web.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    My Profile
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @{
                        string username = UserManager.GetUserName(User);
                    }
                    <li><a asp-area="" asp-controller="Users" asp-action="Profile" asp-route-username="@username">My Profile</a></li>
                    <li><a asp-area="" asp-controller="Users" asp-action="EditProfile" asp-route-username="@username">Edit Profile</a></li>
                    <li><a asp-area="" asp-controller="Users" asp-action="ChangePassword" asp-route-username="@username">Change Password</a></li>
                </ul>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a></li>
    </ul>
}