@model AuthorDetailsViewModel
@{
    ViewData["Title"] = "Details";
}


<h2>Author Info</h2>
<hr />

<div class="container">
    <div class="col-md-4">
        <h3>@Model.Name</h3>
        <ul>
            @foreach (var book in Model.Books)
            {
                <li>
                    <a asp-controller="book" asp-action="details" asp-route-id="@book.Id">@book.Title</a><span> (@book.Status)</span>
                </li>
            }
        </ul>
    </div>
</div>
