<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Buy the cake in By the Cake">
    <meta name="keywords" content="cakes, buy">
    <meta name="author" content="Your name">
    <title>By the Cake</title>
    <style>
        .button {
            font: bold 11px Arial;
            text-decoration: none;
            background-color: #EEEEEE;
            color: #333333;
            padding: 2px 6px 2px 6px;
            border-top: 1px solid #CCCCCC;
            border-right: 1px solid #333333;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #CCCCCC;
        }
    </style>
</head>
<body>
    <div style="display: {{{authenticatedDisplay}}}">
        <a href="/logout" class="button">Logout</a>
    </div>
    {{{content}}}
    <hr />
    <footer style="text-align:center">
        &copy;All Rights Reserved.
    </footer>
</body>
</html>